@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

@layer components {
  .header1 {
    @apply font-system-font font-semibold text-[32px] leading-10 text-neutral-800;
  }

  .header2 {
    @apply font-system-font font-semibold text-[18px] leading[22px] text-neutral-800;
  }

  .header3 {
    @apply font-system-font font-semibold text-[16px] leading[20px] text-neutral-800;
  }

  .subtitle {
    @apply font-system-font font-normal text-[14px] leading-6 text-neutral-800;
  }

  .body {
    @apply font-system-font font-normal text-[14px] leading-4 text-neutral-800;
  }

  .body-highlight @body {
    @apply font-medium;
  }

  .button-text {
    @apply font-system-font font-bold text-[14px] leading-4 text-neutral-800;
  }

  .small-text @body {
    @apply text-xs font-semibold;
  }

  .small-button-text @body {
    @apply text-[12px] font-bold;
  }

  .table-label @body {
    @apply text[11px] font-semibold uppercase;
  }
}
